@charset "utf-8";
@font-face {
  font-family:"cute";
  src: url("../fonts/cute.ttf");}
@font-face {
  font-family:"art";
  src: url("../fonts/art.ttf");}
@font-face {
  font-family:"meow";
  src: url("../fonts/meow.ttf");}
@font-face {
  font-family:"handwrite";
  src: url("../fonts/handwrite.ttf");}
@font-face {
  font-family:"chalk";
  src: url("../fonts/chalk.ttf");}
@font-face {
  font-family:"item";
  src: url("../fonts/item.ttf");}
a:link,a:visited{text-decoration:none;color:#223}
a:hover,a:active{text-decoration:underline;color:#000}
<!--structure-->
<!--
.mysteriousdiv{float:left}
.title{background:#ccf;font-family:art;font-size:1.8em}
.cat{line-height:100%;color:#223;font-size:1.5em;font-weight:bold;font-family:art}
-->